.employees_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.employees_filters {
    display: flex;
    gap: 32px;
}

.employees-list_head {
    margin-top: 32px;
    margin-bottom: 28px;
    display: grid;
    width: 100%;
    grid-template-columns: 46% 25% 1fr 151px;
    font-weight: 500;
    line-height: 23.48px;
    letter-spacing: 0%;
    color: var(--second-text-color);
}

.employees-list_item {
    display: grid;
    width: 100%;
    grid-template-columns: 46% 25% 1fr 139px;
    line-height: 23.48px;
    letter-spacing: 0%;
    color: var(--text-color);
    padding: 28px 12px;
}

.employees-list_item:hover {
    background-color: var(--second-color);
}