@use './breakpoints.scss' as b;

:root {
    --page-padding: 90px;
    --second-text-color: #B0B0B0;
    --accent: #155DA4;
    --breakpoint-tablet: 765px;
}

.light {
    --bg-color: #fff;
    --text-color: #292929;
    --second-color: #F2F2F2;
}

.dark {
    --bg-color: #292929;
    --text-color: #F5F5F5;
    --second-color: #3E3E3E;
}

body {
    font-family: 'Raleway';
    color: var(--text-color);
    font-size: 20px;
    overflow-x: hidden;
    background-color: var(--bg-color);
}

p, span, h1, h2, button {
    transition: color 0.5s;
}

svg {
    transition: fill 0.5s;
}

* {
    transition: background-color 0.5s;
}

.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: -2;
}

.page-content {
    background-color: var(--bg-color);
    height: 100vh;
    width: 100%;
    max-width: 1664px;
    padding-top: 90px;
}

.text-title {
    font-weight: 700;
    font-size: 2em;
    line-height: 46.96px;
    letter-spacing: 0%;
}

@media (max-width: 1764px) {
    .page-content {
        padding: 0 var(--page-padding);
        padding-top: 90px;
    }
    .header-container {
        padding: 0 var(--page-padding);
    }
    .search_options {
        margin-left: calc(var(--page-padding)*(-1));
        margin-right: calc(var(--page-padding)*(-1));
        padding: 13px var(--page-padding);
    }
}

@media (max-width: b.$breakpoint-desktop) {
    :root {
        --page-padding: 24px;
    }
}

@media (max-width: b.$breakpoint-tablet) {
    .page-content {
        padding-top: 54px;
    }

    body {
        font-size: 16px;
    }
}

@media (max-width: b.$breakpoint-mobile) {
    body {
        font-size: 20px;
    }

    .text-title {
        font-size: 1em;
        line-height: 23.48px;
    }
}