.search {
    margin-top: 28px;
}

.search_input {
    border: 0.5px solid #B0B0B0;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.search_options {
    margin-top: 28px;
    height: 71px;
    display: flex;
    background-color: var(--second-color);
    align-items: center;
    position: relative;
    z-index: 1;
}

.search_options::after {
    content: '';
    position: absolute;
    width: 100vw;
    background-color: var(--second-color);
    height: 100%;
    z-index: -1;
    transform: translateX(-50%);
    left: 50%;
    transition: background-color 0.5s;
}

.chosen-filters_title {
    font-weight: 500;
    line-height: 23.48px;
    letter-spacing: 0%;
}

.chosen-filters_list {
    margin-left: 40px;
    display: flex;
    gap: 23px;
}

.chosen-filters_item {
    background-color: var(--bg-color);
    border-radius: 5px;
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.chosen-filters_item svg {
    fill: var(--text-color)
}

.search_button {
    margin-left: auto;
    width: 146px;
    height: 45px;
    border-radius: 8px;
    background-color: var(--accent);
    font-weight: 600;
    font-size: 0.8em;
    line-height: 20.8px;
    letter-spacing: 2%;
    color: var(--bg-color);
}